.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;

    &:hover span {
        background-color: $main-color;
        transition: background-color 0.2s ease 0.1s;
    }

    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }

    span.long {
        width: 36px;
    }
}