.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    top: 230px;
    left: 50px;
    height: 340px;
    color: $fonts-color;

    &__link {
        svg path {
            fill: $fonts-color;
        }

        &:hover {
            svg path {
                fill: $main-color;
            }
        }
    }

    &__devider {
        width: 2px;
        height: 70px;
        background-color: $fonts-color;
    }

    &__text {
        height: 150px;
        width: 25px;

        span {
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-30%, -260%);
        }
    }
}